body {
  background-color: #333333;
  font-family: Verdana;
}

ul {
  list-style: none;
  text-align: left;
}

form {
  width: 250px;
  margin: 20px auto;
  padding: 40px 10px;
  border: 1px #202020 solid;
  border-radius: 20px;
  background-color: #706c61;
}

input {
  font-size: 25px;
}

h1,
h2 {
  font-family: Georgia;
  text-align: center;
}

form {
}

#historyContainer,
#calcContainer {
  background-color: #f5f5f5;
  margin: 10px 30%;
  border: 2px #202020 solid;
  text-align: center;
}

#inputfield {
  background-color: #f5f5f5;
  width: 150px;
  text-align: center;
  margin-bottom: 5px;
}

.number,
.operator,
.enterclear {
  width: 45px;
  margin: 2px;
}
