@font-face {
  font-family: 'Calculator';
  src: url('Calculator\ 2.ttf');
}

body {
  background-color: #465236;
  font-family: Verdana;
}

ul {
  list-style: none;
  text-align: left;
}

form {
  background: linear-gradient(120deg, #535353 30%, #919191 61%, #494949 90%);
  width: 220px;
  margin: 20px auto;
  padding: 30px 10px;
  border: 1px #202020 solid;
  border-radius: 15px;
  box-shadow: -4px 4px #464646;
}

input {
  font-size: 25px;
  box-shadow: -1px 2px black;
  background-color: #2c2c2c;
  color: #f5f5f5;
}

h1,
h2 {
  font-family: Georgia;
  text-align: center;
  margin-bottom: 10px;
}

#historyContainer,
#calcContainer {
  background-color: #f5f5f5;
  margin: 10px 30%;
  border: 2px #202020 solid;
  text-align: center;
}

#calcScreen {
  background-color: #a4b9af;
  width: 208px;
  height: 60px;
  margin-bottom: 5px;
  display: inline-block;
  border: 2px #202020e3 solid;
  border-radius: 3px;
  box-shadow: inset -5px 5px #808080ad;
  text-align: right;
  font: 50px Calculator;
  font-weight: bold;
  color: #000000be;
  overflow: hidden;
}

#clearHistory {
  font-size: 15px;
  background-color: #d8d8d8;
  color: black;
  border-radius: 10px;
  width: 75px;
}

#delclearContainer {
  margin-left: 115px;
  margin-bottom: 3px;
}

.number,
.operator,
#enter {
  width: 45px;
  margin: 2px;
}

.delclear {
  background-color: #df1919;
  border-radius: 10px;
  font-size: 15px;
  width: 45px;
}
